h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {box-shadow: 1px 1px 38px lightgreen;}
    50% {box-shadow: 1px 1px 38px lightskyblue;}
    100% {box-shadow: 1px 1px 38px lightgreen;}
}